.border-1px{
    border-bottom: 1px solid rgba(7,17,27,0.1);
}

.clearfix{
    display: inline-block;
    &:after{
        display: block;
        content: ".";
        height: 0;
        line-height: 0;
        clear: both;
        visibility: hidden;
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2){
    .border-1px{
        border-bottom: 0.5px solid rgba(7,17,27,0.1);
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 3) {
    .border-1px{
        border-bottom: 0.333333px solid rgba(7,17,27,0.1);
    }
}

@mixin bg-image($url) {
    background-image: url($url + '@2x.png');
    @media screen and (-webkit-min-device-pixel-ratio: 3), (min-device-pixel-ratio: 3) {
        background-image: url($url + '@3x.png');
    }
}